%div.container
  %div.row
    %div.span1
    %div.span10
      %div.hero-unit
        %h1 About Us
        / We are the best hackers alive. Who? The best hackers alive. The best hackers alive. The best hackers alive. The best hackers alive. Swagger right, check game tight. And you should be afraid, be very afraid.
        
        %p We are an independent team of developers and music lovers building apps that enhance the way you experience music. We specialize in building mobile apps for all types of artists in the music industry. We make it as easy as possible for an artist to go mobile.

        %h3 Contact Us
        %p
          Want us to build you an app? Want to know more about us? Or just want to send some love? Get in touch with us.
        %p
          E-mail:
          %a{:href=>"mailto:in-di@in-di.us"}in-di@in-di.us
        %p
          Twitter:
          %a{:href=>"https://twitter.com/BandMate_"}@BandMate_
        %p
          Facebook:
          %a{:href=>"http://www.facebook.com/pages/SongBox-Player/154988984561404"}SongBox
        %p
          Phone: 213.290.INDI
        %p
          Mail: PO BOX 184, Cupertino CA, 95015
    %div.span1

