<div id="appsCarousel" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
      <img src="images/ferris-wheel.jpg" alt>
      <div class="carousel-caption">
        <h1>BandMate</h4>
        <p>Customized iPhone apps for bands.</p>
        <a class="btn btn-large btn-primary" href="#BandMate">More Info</a>
      </div>
    </div>
    <div class="item">
      <img src="images/dc_metro.jpg" alt>
      <div class="carousel-caption">
        <h1>SongBox Player</h4>
        <p>Streaming MP3 player for Dropbox.</p>
        <a class="btn btn-large btn-primary" href="#SongBox">More Info</a>
      </div>
    </div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#appsCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#appsCarousel" data-slide="next">&rsaquo;</a>
</div>