<div id="appsCarousel" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
      <img src="images/rock_concert.jpg" alt>
      <div class="carousel-caption">
        <h1>BandMate</h1>
        <p>A free customized iPhone app for your band.</p>
        <a class="btn btn-large btn-primary" href="#BandMate">More Info</a>
      </div>
    </div>
    <div class="item">
      <img src="images/oldie-music-picture.jpg" alt>
      <div class="carousel-caption">
        <h1>SongBox Player</h1>
        <p>Streaming MP3 player for Dropbox.</p>
        <a class="btn btn-large btn-primary" href="#SongBox">More Info</a>
      </div>
    </div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#appsCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#appsCarousel" data-slide="next">&rsaquo;</a>
</div>

<!-- START THE FEATURETTES -->

<div class="container">
  <div class="row">
    <div class="span12">
      <a name="BandMate" class="bookmark"></a>
    </div>
  </div>
</div>
<hr class="featurette-divider">
<div class="featurette container-fluid">
  <div class="row-fluid">
    <div class="span6">
      <div class="featurette-text">
        <div class="row">
          <div class="span12">
            <h2 class="featurette-heading">BandMate <span class="muted">Your Band Your App.</span></h2>
            <p class="lead">A free custom iPhone app for your band that earns you ad revenue. Take your band mobile with BandMate.</p>
            <div class="feature-list lead">
              <ul>
                <li>Connect with fans.</li>
                <li>Share photos.</li>
                <li>Share tracks.</li>
                <li>Sell tickets.</li>
                <li>Sell albums.</li>
                <li>Earn ad revenue.</li>
              </ul>
            </div>
            <p class="lead">Contact us to get your FREE app.</p>
            <a class="btn btn-large btn-primary" href="mailto:BandMate@in-di.us">BandMate@in-di.us</a>
          </div>
        </div>
      </div>
    </div>
    <div class="span6">
      <div class="container-fluid center">
        <img class="featurette-image" src="/images/BandMate_screenshot.png" alt="BandMate iPhone app">
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="span12">
      <a name="SongBox" class="bookmark"></a>
    </div>
  </div>
</div>


<hr class="featurette-divider">
<div class="featurette container-fluid">
  <div class="row-fluid">
    <div class="span6">
      <div class="container-fluid center">
        <img class="featurette-image" src="/images/songbox_screenshot.png" alt="SongBox iPhone app">
      </div>
    </div>
    <div class="span6">
      <div class="featurette-text">
        <div class="row">
          <div class="span12">
            <h2 class="featurette-heading">SongBox <span class="muted">Your Music Anywhere.</span></h2>
            <p class="lead">SongBox turns your DropBox into a streaming MP3 player.</p>
            <div class="feature-list lead">
              <ul>
                <li>No monthly fees.</li>
                <li>No audio ad interruptions.</li>
                <li>Your music the way you want to hear it.</li>
              </ul>
            </div>
            <a class="btn btn-large btn-primary" href="https://itunes.apple.com/us/app/songbox-player-for-dropbox/id426285464?mt=8">Get SongBox</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<hr class="featurette-divider">

<!-- /END THE FEATURETTES -->