%div.container
  %div.row
    %div.span1
    %div.span10
      %div.hero-unit
        %h1 Apps
        
        %div{ :id => "myCarousel", :class => "carousel slide"}
          %div{ :class => "carousel-inner container"}
            %div{ :class=>"active item row"}
              %div.span4
                %a{ "href"=>"https://itunes.apple.com/us/app/henry-santos-bandmate/id666203510?mt=8"}
                  %img{ :src=>"images/henrysantos-bandmate-screenshot.jpeg"}
              %div.span4
                %p Indi Apps is proud to present the offical app of Billboard chart toping artist, Henry Santos. Best know for his work as singer and composer of the bachata group Aventura, Henry Santos teamed up with Indi Apps to launch his first ever app featuring music from his solo career.
                %a{ "href"=>"https://itunes.apple.com/us/app/henry-santos-bandmate/id666203510?mt=8", "role"=>"button", "class"=>"btn btn-large btn-primary", "data-toggle"=>"modal"}Get It
              %div.row
                %div.span9{ :class=>"carousel-caption"}
                  %h4 Henry Santos Bandmate App

            %div{ :class=>"item row"}
              %div.span4
                %a{ "href"=>"https://itunes.apple.com/us/app/mind-the-gap-bandmate/id693379584?mt=8"}
                  %img{ :src => "images/mindthegap-bandmate-screenshot.jpeg"}
              %div.span4
                %p MTG [Mind the Gap] is a dance rock group with origins in the independent music scene of Los Angeles, California. Indi Apps is thrilled to work with independent artists and support local music groups.
                %a{ "href"=>"https://itunes.apple.com/us/app/mind-the-gap-bandmate/id693379584?mt=8", "role"=>"button", "class"=>"btn btn-large btn-primary", "data-toggle"=>"modal"}Get It
              %div.row
                %div.span9{ :class=>"carousel-caption"}
                  %h4 Mind the Gap Bandmate App

            %div{ :class=>"item row"}
              %div.span4
                %a{ "href"=>"https://itunes.apple.com/us/app/johnboycool-bandmate/id722718960?mt=8"}
                  %img{ :src => "images/johnboycool-bandmate-screenshot.jpeg"}
              %div.span4
                %p JohnBoyCool is an electronic/techo rap artist bringing the party to music. JohnBoyCool transcends music genres and goes beyond to create a whole new sound of the future. Bandmate is the perfect app platform for visionary artists like JohnBoyCool who push the boundaries of the music industry.
                %a{ "href"=>"https://itunes.apple.com/us/app/johnboycool-bandmate/id722718960?mt=8", "role"=>"button", "class"=>"btn btn-large btn-primary", "data-toggle"=>"modal"}Get It
              %div.row
                %div.span9{ :class=>"carousel-caption"}
                  %h4 JohnBoyCool Bandmate App

          %a{ "class"=>"carousel-control left",  "href"=>"#myCarousel", "data-slide"=>"prev"} &lsaquo;
          %a{ "class"=>"carousel-control right", "href"=>"#myCarousel", "data-slide"=>"next"} &rsaquo;
    %div.span1