%div#contact-us
  %div.container
    %div.row
      %div.span1
      %div.span10
        %div.hero-unit
          %h1 Contact Us
          %p
            Want us to build you an app? Send us an e-mail. Post a comment on our Facebook page. Tweet us. Or send out an S.O.S.
          %p
            %a{:href=>"mailto:in-di@in-di.us"}in-di@in-di.us
          %p
            %a{:href=>"https://twitter.com/BandMate_"}Twitter
          %p
            Facebook:
            %a{:href=>"http://www.facebook.com/pages/SongBox-Player/154988984561404"}SongBox
            %a{:href=>"http://www.facebook.com/BandMateApp"}BandMate
          %p
            Phone/SMS: 213.290.INDI
          %p
            PO BOX 184, Cupertino CA, 95015
      %div.span1
