%div.container
  %div.hero-unit
    %h1 Contact Us
    %p Want us to build you an app? Send us an e-mail. Post a comment on our Facebook page. Tweet us. Or send out an S.O.S.
    %div.container
      %a{:href=>"mailto:in-di@in-di.us"} E-mail
    %div.container
      %a{:href=>"http://www.facebook.com/pages/In-di/392390397510261"} Facebook (in-di)
    %div.container
      %a{:href=>"http://www.facebook.com/pages/SongBox-Player/154988984561404"} Facebook (SongBox)
    %div.container
      %a{:href=>"http://www.facebook.com/BandMateApp"} Facebook (BandMate)
    %div.container
      %a{:href=>"https://twitter.com/BandMate_"} Twitter (BandMate)
