%div.container
  %div.hero-unit
    %h1 Contact Us
    %p This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
    %div.container
      %a{:href=>"mailto:in-di@in-di.us"} e-mail
    %div.container
      %a{:href=>"http://www.facebook.com/pages/In-di/392390397510261"} Facebook
