%div{:id => "footer"}
  %div{:id => "legal"}
    %div.container
      %div.row
        %div.span4
        %div.span4
          %p
            INDI, LLC CA
        %div.span4
  = erb :bootstrapp
  
- if @js
  <script src="/js/#{@js}"></script>
