
%div{:id => "header"}
  %div{:id => "header-pat"}
    %div{:id => "header-title"}
      %div.container
        %div.row
          %div.span9          
            %h1{:id => "main-title", :class => "bebas", :title => "in-di.us"}
              %a{:href => "/"}in-di.us
            %p{:id => "tag-line"} independent mobile apps
          %div.span3
        
    %div{:id => "header-end"}
      %div{:id => "header-bot"}
      /
        %div{:id => "nav"}
          %a{:href => "#"}apps
          %a{:href => "#"}about
      %div{:id => "header-cap"}
    %div{:class => "clear"}