
%div{:id => "header", :class => "navbar-fixed-top"}
  %div{:id => "header-pat"}
    %div{:id => "header-title"}
      %div.container
        %div.row
          %div.span1
          %div.span10          
            %h1{:id => "main-title", :class => "bebas", :title => "in di"}
              %a{:href => "/"}indi
            %p{:id => "tag-line"} mobile apps
          %div.span1
  %div.container
    %div.row
      %div.span1
      %div.span10
        %div.navbar.navbar-inverse
          %div.navbar-inner        
            %ul.nav
              %li.divider-vertical
              %li
                %a{:href => "/"} Home
              %li.divider-vertical
              %li
                %a{:href => "about"} About
              %li.divider-vertical
                %a{:href => "contact"} Contact
      %div.span1

            
    %div{:id => "header-end"}
    %div{:class => "clear"}