%div{:id => "header"} 
  %h1{:id => "main-title"} in-di.us
  %p{:id => "tag-line"} we build mobile apps
  
%div{:id => "featured-app"}
  = haml :bandmate_flyer
  
%div{:id => "newsletter-form"}
  %form(action='/newsletter_singup' method='POST')
    %input(type='email' required name='email')
    %input(type='submit')