%div{:id => "header"} 
  %h1{:id => "main-title"} in-di.us
  %p{:id => "tag-line"} we build mobile apps
  
%div{:id => "featured-app"}
  = haml :bandmate_flyer
  
%div{:id => "newsletter-form"}
  %h1{:id => "signup-title"} Get BandMate
  %p Sign up for more info about BandMate
  = erb(:mailchimp_form)