%div.container
  = erb :facebook_sdk
  
  %div.row
    %div.span3
  
    %div.span6
      %div{:id => "featured-app", :class => "container center"}
        = haml :bandmate_flyer
  
    %div.span3
  
  %div.row
    %div.span3
    
    %div.span6
      %div{:id => "newsletter-form", :class => "container center"}
        %h1{:id => "signup-title"} Get BandMate
        %p Sign up for a custom demo of your app
        = erb(:mailchimp_form)
    
    %div.span3
