%div{:id => "header"}
  %div{:id => "header-pat"}
    %div{:id => "header-top"}
      %h1{:id => "main-title", :class => "bebas", :title => "in-di.us"} in-di.us
      %p{:id => "tag-line"} independent mobile apps
  
%div{:id => "featured-app"}
  = haml :bandmate_flyer
  
%div{:id => "newsletter-form"}
  %h1{:id => "signup-title"} Get BandMate
  %p Sign up for more info about BandMate
  = erb(:mailchimp_form)