<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Sign Up To Get BandMate</h3>
  </div>
  <div class="modal-body">
  	<p>We will contact you with more infomation about BandMate.<br />
  		All information you provide will remain private.
  	</p>
    <%= erb :mailchimp_form %>
  </div>
</div>

<div class="container marketing">
<!-- START THE FEATURETTES -->

<div class="container">
  <div class="row">
    <div class="span12">
      <a name="BandMate" class="bookmark"></a>
    </div>
  </div>
</div>

<hr class="featurette-divider">

<div class="featurette container-fluid">
    <div class="row-fluid">
	  	<div class="span6">
	      <div class="container-fluid center">
	      	<a href="#myModal" data-toggle="modal">
	        	<img id="bandmate_img" class="featurette-image" src="/images/BandMate_screenshot.png" alt="BandMate iPhone app">
	    	</a>
	      </div>
	    </div>
	    <div class="span6">
	      <div class="featurette-text">
	        <div class="row">
	            <div class="span12">
		            <h2 class="featurette-heading">BandMate<br/> <span class="muted">Your Band Your App.</span></h2>
		            <p class="lead">A free iPhone app for your band. Take your band mobile with all these features and more.</p>
		            <div class="feature-list lead">
		              <ul>
		                <li>Facebook</li>
		                <li>Twitter</li>
		                <li>iTunes</li>
		                <li>YouTube</li>
		                <li>Instagram</li>
		                <li>Lyrics</li>
		                <li>Upcoming events</li>
		              </ul>
		            </div>
		            <a href="#myModal" role="button" class="btn btn-large btn-primary" data-toggle="modal">Get BandMate</a>
	            </div>
	        </div>
	      </div>
	    </div>
    </div>
</div>

<div class="container">
  <div class="row">
    <div class="span12">
      <a name="SongBox" class="bookmark"></a>
    </div>
  </div>
</div>

<hr class="featurette-divider">

<div class="featurette container-fluid">
    <div class="row-fluid">
    	<div class="span1"></div>
	    <div class="span5">
	        <div class="featurette-text">
		        <div class="row">
		            <div class="span12">
			            <h2 class="featurette-heading">SongBox<br/> <span class="muted">Your Music Anywhere.</span></h2>
			            <p class="lead">SongBox turns your DropBox into a streaming MP3 player.</p>
			            <div class="feature-list lead">
			              <ul>
			                <li>No monthly fees.</li>
			                <li>No audio ad interruptions.</li>
			                <li>Your music the way you want to hear it.</li>
			              </ul>
			            </div>
			            <a class="btn btn-large btn-primary" href="https://itunes.apple.com/us/app/songbox-player-for-dropbox/id426285464?mt=8">Get SongBox</a>
		            </div>
		        </div>
	        </div>
	    </div>
	    <div class="span6">
	      <div class="container-fluid center">
	      	<a href="https://itunes.apple.com/us/app/songbox-player-for-dropbox/id426285464?mt=8">
	        	<img class="featurette-image" src="/images/songbox_screenshot.png" alt="SongBox iPhone app">
	        </a>
	      </div>
	    </div>
    </div>
</div>

<hr class="featurette-divider">

<!-- /END THE FEATURETTES -->
</div>