!!! 5
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title= @title || 'in-di.us - Independent Mobile Apps'
    <meta charset="UTF-8">
    <meta name="google-site-verification" content="QoOv8zJ5kJrF8RSktWYG4e6lwG_uW5s8nBAW42Pdqvk" />
    %meta{:name => "description", :content => @description || "in-di.us provides independent mobile apps."}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/bootstrap-responsive.min.css" rel="stylesheet">
    %link{:rel => "stylesheet", :href => "/css/screen.css"}
    %link{:rel => "stylesheet", :href => "/css/bebas.css"}
    %link{:rel => "stylesheet", :href => "/css/style.css"}
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36283254-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body
    = haml :header
    = yield
    = haml :footer