%div.container
  %div.row
    %div.span3
    
    %div.span6
      %div{:id => "not_found", :class => "error center"}
        %h1 Oops!!
        %p
          %strong That page could not be found.
        %a{:href => "/"}Return Home
    
    %div.span3