.center {
  width: 511px;
  margin-left: auto ;
  margin-right: auto ;
}

.error{
  padding: 40px 0 20px 0;
}

#header {
  background-color: #030705;
}

#header-bot {
  padding: 0 0 0 190px;
  
}

#nav a {
  color: #136B14;
  padding: 0 20px 0 0;
}

h1{
  letter-spacing:3px
}

#tag-line{
  color: #CCC;
  padding: 15px 0 10px 0;
}

#featured-app{
  padding: 80px 0 20px 0;
  width: 511px;
  height: 700px;
  margin-left: auto ;
  margin-right: auto ;
}


#social-links { 
  height: 400px;
  padding: 5px 0 5px 0;
}

#social-links a { 
  width: 252px; 
  height: 105px; 
  text-indent: -99999em; 
  float: left;
  background-position: -5px -80px;
  padding: 0 10px 0 0;
}

.label-fb a { background: url("/images/facebook-label.png") top left no-repeat; }
.label-twitter a { background: url("/images/twitter-label.png") top left no-repeat; }

#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }

#newsletter-form{
  width: 511px;
  text-align: center;
  margin-left: auto ;
  margin-right: auto ;
  padding: 40px 0 0 0;
}

#footer{
  padding: 40px 0 40px 0;
}