body{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight:300;
  color:#000;
  background-color:#fff
}

h1{
  letter-spacing:3px
}

#featured-app{
  width: 520px;
  margin-left: auto ;
  margin-right: auto ;
}

#newsletter-form{
  width: 520px;
  text-align: center;
  margin-left: auto ;
  margin-right: auto ;
}