/* Carousel base class */
.carousel {
  margin-bottom: 60px;
}

.carousel .container {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.carousel-control {
  background-color: transparent;
  border: 0;
  font-size: 120px;
  margin-top: 0;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
}

.carousel .item {
  height: 500px;
}
.carousel img {
  min-width: 100%;
  height: 500px;
}

.carousel-caption {
  padding: 0 20px 20px 40px;
  margin-bottom: 0px;
}
.carousel-caption h1,
.carousel-caption .lead {
  margin: 0;
  line-height: 1.25;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
}
.carousel-caption .btn {
  margin-top: 10px;
}

/* Featurettes
    ------------------------- */

    .featurette-divider {
      margin: 80px 0; /* Space out the Bootstrap <hr> more */
    }
    .featurette {
      padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
      padding-left: 40px;
      overflow: hidden; /* Vertically center images part 2: clear their floats. */
    }
    .featurette-image {
      width: 50%;
      margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
    }

    /* Give some space on the sides of the floated elements so text doesn't run right into it. */
    .featurette-image.pull-left {
      margin-right: 40px;
    }
    .featurette-image.pull-right {
      margin-left: 40px;
    }

    /* Thin out the marketing headings */
    .featurette-heading {
      font-size: 50px;
      font-weight: 300;
      line-height: 1;
      letter-spacing: -1px;
    }
    
    hr {
      border-top: 1px none #EEE;
      border-bottom: 1px none white;
    }

.center {
  width: 511px;
  margin-left: auto ;
  margin-right: auto ;
}

.error{
  padding: 40px 0 20px 0;
}

#header {
  background-color: #030705;
}

#header-top{
  padding: 40px 0 20px 40px;
}

#header-bot {
  padding: 0 0 0 190px;
  
}

#nav a {
  color: #136B14;
  padding: 0 20px 0 0;
}

h1{
  letter-spacing:3px
}

#tag-line{
  color: #CCC;
  padding: 15px 0 10px 0;
}

#featured-app{
  padding: 80px 0 20px 0;
  width: 511px;
  height: 700px;
  margin-left: auto ;
  margin-right: auto ;
}


#social-links { 
  height: 400px;
  padding: 5px 0 5px 0;
}

#social-links a { 
  width: 252px; 
  height: 105px; 
  text-indent: -99999em; 
  float: left;
  background-position: -5px -80px;
  padding: 0 10px 0 0;
}

.label-fb a { background: url("/images/facebook-label.png") top left no-repeat; }
.label-twitter a { background: url("/images/twitter-label.png") top left no-repeat; }

#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }

#newsletter-form{
  width: 511px;
  text-align: center;
  margin-left: auto ;
  margin-right: auto ;
  padding: 40px 0 0 0;
}

#footer{
  padding: 40px 0 40px 0;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

/* Large desktop */
@media (min-width: 1200px) {
  
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .center {
    width: 500px;
    margin-left: auto ;
    margin-right: auto ;
  }
  
  #header-top{
    padding: 20px 0 0 20px;
  }
  
  #featured-app{
    width: 75%;
    height: 100%;
  }
  
  #social-links { 
    height: 100%;
    padding: 5px 0 5px 0;
  }
  
  #newsletter-form{
    width: 75%;
    padding: 10px 0 0 0;
  }
  
  .navbar-inner {
    margin: -20px;
  }

  .carousel {
    margin-left: -20px;
    margin-right: -20px;
  }
  .carousel .container {

  }
  .carousel .item {
    height: 300px;
  }
  .carousel img {
    height: 300px;
  }
  .carousel-caption {
    padding: 0 70px 10px 40px;
    margin-bottom: 0;
  }
  .carousel-caption h1 {
    font-size: 30px;
  }
  .carousel-caption .lead,
  .carousel-caption .btn {
    font-size: 18px;
  }

  .marketing .span4 + .span4 {
    margin-top: 40px;
  }

  .featurette-heading {
    font-size: 30px;
  }
  .featurette .lead {
    font-size: 18px;
    line-height: 1.5;
  }
  
  .featurette-image {
    margin-top: -10px;
  }
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
  .center {
    width: 440px;
    margin-left: auto ;
    margin-right: auto ;
  }
  
  .carousel {
    margin-left: -20px;
    margin-right: -20px;
  }
  .carousel .container {

  }
  .carousel .item {
    height: 300px;
  }
  .carousel img {
    height: 300px;
  }
  .carousel-caption {
    margin-bottom: 0;
    position: absolute;
  }
  .carousel-caption h1 {
    font-size: 20px;
  }
  .carousel-caption .lead,
  .carousel-caption .btn {
    font-size: 18px;
  }
  
  .featurette {
    padding-top: 60px;
  }

  .featurette-heading {
    font-size: 30px;
    letter-spacing: 1px;
  }
  .featurette .lead {
    font-size: 16px;
    line-height: 1.5;
  }
  
  .featurette-image {
    margin-top: -10px;
  }

}